In [37]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
from pandas import DataFrame


print('import success')

import success

In [38]:
URL = "https://en.wikipedia.org/wiki/List_of_best-selling_books#Between_50_million_and_100_million_copies"
page = urlopen(URL)
soup = BeautifulSoup(page, 'html.parser')
print('page ready')

page ready

In [87]:
contents = [table_rows for table_rows in soup.find_all('tr')]
contents[9]
# len(contents)

<tr>
<td><i><a href="/wiki/The_Lion,_the_Witch_and_the_Wardrobe" title="The Lion, the Witch and the Wardrobe">The Lion, the Witch and the Wardrobe</a></i></td>
<td><a href="/wiki/C._S._Lewis" title="C. S. Lewis">C. S. Lewis</a></td>
<td>English</td>
<td>1950</td>
<td>85 million<sup class="reference" id="cite_ref-29"><a href="#cite_note-29">[29]</a></sup></td>
<td><a href="/wiki/Fantasy" title="Fantasy">Fantasy</a>, <a class="mw-redirect" href="/wiki/Children%27s_fiction" title="Children's fiction">Children's fiction</a>
</td></tr>

In [94]:
def get_data(cell):
    return "" if cell.find('a') == None else cell.find('a').get_text()
def get_json_data(contents):
    list_of_json_data = []
    for i in range(1, 8):
        row_cell = contents[i].find_all('td')
        data = {
            "Book": get_data(row_cell[0]),
            "Author": get_data(row_cell[1]),
            "Original Language":  row_cell[2].get_text().strip('\n'),
            "First Published": row_cell[3].get_text().strip('\n'),
            "Approx Sales":  row_cell[4].get_text().strip('\n'),
            "Genre": get_data(row_cell[5]),        }
        list_of_json_data.append(data)
    return list_of_json_data
print("Kaam ho gaya")

Kaam ho gaya

In [95]:
dataset =  pd.DataFrame(get_json_data(contents))
print('Dataset done')

Dataset done

In [96]:
dataset

,Book,Author,Original Language,First Published,Approx Sales,Genre
0,Don Quixote,Miguel de Cervantes,Spanish,"1605 (1st Part),\n1615 (2nd Part)",500 million[17],Adventure Fiction
1,A Tale of Two Cities,Charles Dickens,English,1859,200 million[18][circular reporting?],Historical fiction
2,The Little Prince,Antoine de Saint-Exupéry,French,1943,200 million[19][20],Novella
3,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[21][22],Fantasy
4,And Then There Were None,Agatha Christie,English,1939,100 million[23],Mystery
5,Dream of the Red Chamber,Cao Xueqin,Chinese,1791,100 million[24][25],Family saga
6,The Hobbit,J. R. R. Tolkien,English,1937,100 million[26][27][28],Fantasy